<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Weather Dashboards</title>
  <link rel="stylesheet" href="/static/mainpage.css">
</head>
<body style="background: rgba(0, 0, 0, 1)">
    <navbar class="navbar1">
        <div style="display: flex;align-items: center; margin-left:20px;color:white;">
        <img src="logo.png" class="Logo"></img>
        
        <div class="navdiv1"> 
            <span>
                <a href="/IoT_Monitoring.html" class="linkNO">IoT Monitoring</a>
            </span>
        </div>
        <div class="navdiv1">
            <span>
                <a href="/Smart_Home.html" class="linkNO">Smart Home</a>
            </span>
        </div>
        <div class="navdiv1">
            <span>
                <a href="/IoT_Secur.html" class="linkNO">IoT Security</a>
            </span>
        </div>
        <div class="navdiv1">
            <span>
                <a href="/mainpage.html" class="linkNO">Main Page</a>
            </span>
        </div>
    </div>

    </navbar>
</body>