<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Weather Dashboards</title>
  <link rel="stylesheet" href="/static/mainpage.css">
  <script type="module" src="https://unpkg.com/@splinetool/viewer@1.3.1/build/spline-viewer.js"></script>
  <script type="module" src="/static/index.js"></script>
  <script src="https://s3.amazonaws.com/stitch-sdks/js/bundles/4.3.0/stitch.js"></script>
</head>
<body class="abob">
    <navbar class="navbar1">
        <div style="display: flex;align-items: center; margin-left:20px;color:white;">
        <img src="/static/logo.png" class="Logo"></img>
        
        <div class="navdiv1"> 
            <span>
                <a href="#Heh" class="linkNO">IoT Monitoring</a>
            </span>
        </div>
        <div class="navdiv1">
            <span>
                <a href="#ne_Heh" class="linkNO">Smart Home</a>
            </span>
        </div>
        <div class="navdiv1">
            <span>
                <a href="#NENADO" class="linkNO">IoT Security</a>
            </span>
        </div>
        
    </div>

    </navbar>
    <div style="height: 1080px;">
    <spline-viewer url="https://prod.spline.design/1-sjhTtmyCWXo7gy/scene.splinecode"></spline-viewer>
    </div>
    <div class="abob">
        <div>
            <div class="abob1" id="Heh">
                <div>

                </div>
                <div>
                <a href="/monitoring" class="linkNO">Learn more</a>
                </div>
            </div>
            <div class="abob1" id="ne_Heh">
                <div>
                    <a href="/Smart_Home.html" class="linkNO">Learn more</a>
                </div>
            </div>
            <div class="abob1" id="NENADO">
                <div>
                    <a href="/IoT_Secur.html" class="linkNO">Learn more</a>
                </div>
            </div>
            
        </div>

        <footer></footer>
    </div>

</body>
</html>
